*{
	margin: 0;
	padding: 0;
}
body, html {
  height: 100%;
  /*font-family: sans-serif;*/
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(12,16,39);
}
.container{
	height:1000px;
	display: flex;
	flex-direction: column;
}

/* general-properties*/
.color-white{
	color: white;
}
.color-grey{
	color: grey;
}
.center{
	text-align: center;
	font-size: 12px;
}

/**** nav ***/
nav{
	border:2px solid grey;
	height: 50px;
	width: 100%;
	position: fixed;
}
/**** nav-top ***/
.nav-top{
	top: 0;
	position: relative;
}
.nav-container-1{
	display: grid;
	grid-template-columns: 1fr 6fr 80px;
	color: lightgrey;
	width: 85%;
	margin: 0 auto;
	/*border:3px solid goldenrod;*/
}
.logo{
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 5px;
}
.company-img{
	font-size: 3rem;
	color: #504197;
}
.company-text{
	margin-top: 11px;
	/*margin-left: -5px;*/
	font-size: 1rem;
	line-height: 15px;
	color: white;

}
.user-img{
	/*width: 100%;
	height: 100%;*/
	margin: 0 auto;
	padding-top: 11px;
}
.user-img img{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.logo,.nav-top,.user-img{
	/*border:1px solid mistyrose;*/
}
.nav-top ul{
	display: flex;
	list-style: none;
	justify-content: flex-start;
}
.nav-top ul li{
	padding: 19px 0;
}
.nav-top ul li a{
	text-decoration: none;
	color: white;
}
.nav-top .fav{
	flex-grow: 1;
	font-size: 0.7rem;
	font-weight: 700;
	margin-left: 8%;
	margin-top: 4px;
}
.search-bar{
	margin-right: 20px;
}
.search-bar #search{
	background-color: rgb(18,25,62);
	color: lightgrey;
	padding: 5px 18px;
	font-size: 0.7rem;
	border:none;
	border-radius: 6px;
	width: 180px; 
}
.search-bar .inside-search{
	position: relative;
	font-size: .6rem;
	z-index: 1;
	color: lightgrey;
}
.search-icon{
	left: 17px;
	top: 0;
}
.mic{
	right:16px;
}
.notification{
	margin-right: 10px;
}
/** menu-icon for mobile view **/
.menu-icon{
	position: absolute;
	top: 10px;
	left: 50%;
	display: flex;
	flex-direction: column;
	opacity: 0;
}
.menu-icon-img{
	text-align: center;
	font-size: 1.4rem;
}
.menu-list{
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	width: 100px;
	background-color: #55E6C1;
}
.menu-list li {
	list-style: none;
	text-align: center;
	padding: 2px 4px;
	border-bottom: 1px solid black;
}
.menu-list li a{
	text-decoration: none;
}

/**** nav-bottom ***/
.nav-container-2{
	order: 1;
	width: 100%;
	position: fixed;
	bottom: 0;
	min-height: 60px;
	/*border:4px solid goldenrod;*/ 
	z-index: 1;
	background-color: rgb(40,40,40);
}
.nav-bottom{
	width:80%;
	height: 60px;
	margin: 0 auto;
	/*border:2px solid mistyrose;*/
	color: white;
	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
	/*display: flex;
	justify-content: space-between;*/
}
/* nav-bottom left-part*/
.song-playing{
	display: flex;
	justify-content: flex-start;
	padding: 6px 0;
}
.song-img{
	height: 80%;
	width: 30%;
}
.song-img img{
	width: 100%;
	height: inherit;
}
.song-about{
	padding: 8px 0;
	height: 50%;
	width: 30%;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 8px;
}
.song-about h3{
	font-size: 10px;
	margin-bottom: 6px;
	font-weight: lighter;
}
.song-about p{
	font-size: 9px;
}
.song-options ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding: 8px 0;
	list-style: none;
	font-size: 0.8rem;
}

/* nav-bottom center-part*/
.song-length-bar{
	flex-grow: 1;
}
.song-length-bar{
	display: flex;
	flex-direction: column;
}
.song-shuffle{
	display: flex;
	font-size: 0.8rem;
	justify-content: center;
}
.song-shuffle a{
	margin: 8px;
	color: lightgrey;
}
.song-shuffle .play{
	font-size: 1rem;
	margin-top: 7px;
}
.time{
	font-size: 0.8rem;
}
.song-len-track{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	color: lightgrey;
}
.outer-bar{
	margin-top: 7px;
	width:75%;
	background-color: lightgrey;
	height: 1.5px;
	border-radius: 10px;
}
.inner-bar{
	width: 40%;
	background-color: #33cd2e;
	height: 2.5px;
	position: relative;
	top: -1px;
	border-radius: 10px;
}
.inner-bar::after{
	content:'';
	background-color: white;
	border-radius: 50%;
	height: 0.5rem;
	width: 0.5rem;
	position: absolute;
	z-index:1;
	top:-3px;
	right: -4px;
}

/* nav-bottom right-part*/
.sound-bar ul{
	display: flex;
	justify-content: flex-start;
	color: white;
	list-style: none;
	margin-top: 10%;
}
.sound-bar ul li{
	font-size: 0.6rem;
	color: lightgrey;
	margin: 6px;
	cursor: pointer;
}
.len-outer{
	height: 2px;
	margin-top: 4px;
	background-color: grey;
	width: 50px;
	border-radius: 10px;
}
.len-inner{
	width: 50%;
	background-color: #33cd2e;
	height: 2.5px;
	position: relative;
	border-radius: 10px;
}
.len-inner::after{
	content:'';
	background-color: white;
	border-radius: 50%;
	height: 0.5rem;
	width: 0.5rem;
	position: absolute;
	z-index:1;
	top:-3px;
	right: -4px;
}
/**** content ***/
.content{
	margin: 0 10%;
	/*height: 600px;*/
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 5fr 2fr;
	grid-template-areas: main-content sidebar;
	/*margin-top: 52px;*/
	padding-bottom: 5%;
}

/**** main-content ***/
.main-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/**** main-content-items ***/
.items{
	display: flex;
	padding: 10px 0;
	/*border:2px solid green;*/
	/*height:200px;*/
}
/** item-1*/
.item-1{
	height: 200px;
	position: relative;
	padding-top: 20px;
}
.item-1 .images-box{
	width:50%;
	height: 80%;
	position: absolute;
	transition: all .5s ease-in-out;
}
.images-box img{
	width: 100%;
	height: 100%;
	border:2px solid black;
}
.image-2{
	left: 25%;
	z-index: 1;
	transform: scale(1.1);
}
.image-3{
	right: 0;
}
.images-box:hover{
	z-index: 2;
	transform: scale(1.2);
	box-shadow: 0px 0px 6px 0px rgba(230,196,196,0.3);
	/*box-shadow: 0px 0px 6px 0px lightgrey;*/
}
/** item-2  latest release*/
.item-2{
	/*height: 200px;*/
	flex-direction: column;
}
.latest-release-heading{
	height: 10%;
}
.latest-release-container{
	height: 90%;
	width: 90%;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}
.containers{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 2fr 4fr 1fr;
}
.img-container img{
	height: 100%;
	width: 100%;
}
.img-container{
	transition: all 0.4s ease-in-out;
}
.img-container:hover{
	cursor: pointer;
	-webkit-filter: brightness(50%);
}
.details{
	padding: 15% 0;
}
.options {
	text-align: center;
}
.song-heading{
	font-size: 0.8rem;
	margin: 4px;
}
.release-date{
	font-size: 0.6rem;
	margin: 4px;
}
.option-icon{
	font-size: 0.8rem;
	margin-top: 2px;
}
.song-duration{
	font-size: 0.6rem;
	margin-top: 2px;
}

/** item-3 */
.item-3{
	flex-direction: column;
}
.pop-artist-heading{
	height: 20%;
}
.pop-artist-container{
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.Artists{
	height: 80%;
	width: 15%;
	border-radius: 50%;
	/*position: relative;*/
}
.Artists a{
	text-decoration: none;
}
.Artists h4{
	font-weight: bold;
	font-size: 0.7rem;

}
.Artists img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
}
.Artists img:hover{
	/*transform: scale(1.1);*/
	box-shadow: 0px 0px 12px 0px rgba(230,196,196,0.3);
	cursor: pointer;
	-webkit-filter: brightness(30%);
}
.Artists h4:hover{
	/*border-bottom: 1px solid mistyrose;*/
	cursor: pointer;
	/*text-decoration: underline;*/
	color: lightgrey;
}

/***item-4 music-genre:love chill...***/
.item-4{
	justify-content: space-between;
	background-color: rgb(16,22,66);
	padding-top: 18px;
}
.stations{
	height: 90%;
}
.stations img{
	width: 90%;
	border-radius: 50%;
}
.station-1 img{
	border-radius: 0;
}
.stations .center{ 
	position: relative;
	bottom: 55%;
	right: 5%;
}
.theText{
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
.station-1 .center{
	position: relative;
	bottom: 25%;
	right: 5%;
	opacity: 1;
}
.stations:hover .theText{
	opacity: 0.8;
	cursor: pointer;
}
/***item-5 discover-music***/
.item-5{
	justify-content: space-between;
	padding-bottom:0;
}
.discover{
	height: 80%;
	width: 32%;
}
.discover img{
	width: 100%;
	height: 100%;
}
/*.party img{
	width: 100%;
	height:;
}*/
.discover .center{
	font-size: 15px;
	position: relative;
	bottom: 59%;
	right: 5%;
}
/*.text{
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
.discover:hover .text{
	opacity: 0.8;
}*/

/*** item-6 and item-7 latest-release hindi and english  **/
.item-6,.item-7{
	flex-direction: column;
}
.latest-song-container{
	display: flex;
	justify-content: space-between;
}
.latest-release-heading{
	font-size: 13px;
	padding-bottom: 5px;
	margin-bottom: 5px;	
}
.songs{
	height: 90%;
	width: 15%;
}
.songs img{
	width: 100%;
	border-radius:1.5px;
}
.songs h4{
	font-size: 9px;
}
/**** aside-section ***/
.aside-section{
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
}
/**** aside-section-items ***/
.q-items{
	/*border:2px solid grey;*/
	height:40px;
	display: grid;
	/*grid-gap: 10px;*/
	padding-top: 9px;
	grid-template-columns: 1fr 3fr;
	transition: all 0.4s ease-in-out;
	padding-left: 4px;
}
.q-1{
	/*height: 60px;*/
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	position: relative;
}
.q-1 h3{
	font-size: 20px;
}
#q-dropdown{
	/*display: flex;
	justify-content: center;*/
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin-top: 6px; 
	margin-left: 0;
	cursor: pointer;
}
#dropdown-item{
	color: #473e3e;
	border: 1px solid white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 0.6rem;
	height: 2rem;
	width: 5rem;
	background: white;
	padding: 5px 10px;
	position: absolute;
	top: 71%;
	right: 0;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
#dropdown-icon:hover ~ #dropdown-item{
	opacity: 0.8;
}
.style-one {
    border: 0;
    border-bottom: 1px solid black;
    background: #999;
}
.q-1 span{
	font-size: 12px;
	margin:2px;
	color: rgb(54,148,136);
}
.q-items .q-serial{
	font-size: 10px;
	position: relative;
	top:25%;
}
.q-items:not(.q-1):hover {
	background-color:rgb(32,36,57);
	/*border-radius: 8px;*/
	cursor: pointer;
}
.q-song-img{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: 1fr 3fr;
	position: relative;
}
.q-song-img span img{
	width: 30px;
	height: 30px;
	border-radius: 3px;
}
.hover-button{
	color: white;
	position: absolute;
	top: 15%;
	right: 28%;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.q-items:not(.q-1):hover .hover-button{
	opacity: 1;
}
.song-details .color-white{
	font-size: 12px;
	font-weight: bold;
}
.song-details .color-grey{
	font-size: 10px;
	font-weight: 502;
}
.song-details{
	padding-top: 2px;
	position: relative;
}
.add-fav{
	position: absolute;
	top: 10%;
	right: 10%;
	color: grey;
}

/***media Query**/
@media screen and (max-width: 992px){
	.nav-container-1{
		width: 95%;
		margin: 0 auto;
	}
	.nav-bottom{
		width: 95%;
	}
	.content{
		margin: 0 2%;
	}
}
@media screen and (max-width: 768px){
	/*nav-top*/
	.company-img,.fav{
		display: none;
	}
	.nav-top ul{
		display: flex;
		justify-content: space-between;
	}
	/*artist-section*/
	.artist-6{
		display: none;
	}
	.Artists{
		width: 19%;
	}
	.Artists h4{
		font-size: 0.6rem;
		font-weight: lighter;
	}
	/*stations*/
	.station-7{
		display: none;
	}
	/*latest-english,hindi*/
	.song-6{
		display: none;
	}
	.songs{
		width: 18%;
	}
	/*aside-section*/
	.q-items{
		grid-template-columns: 1fr 2fr;
	}
}
@media screen and (max-width: 600px){
	/*nav-top*/
	.company-img,.mic,.fav{
		display: none;
	}
	.search-icon{
		border: 1px solid transparent;
		border-radius: 50%;
		padding: 5px 7px;
		font-size: 2rem;
		top: -1px;
		background-color: rgb(32,36,57);
	}
	.search-bar #search{
		border-radius: 10px;
		width: 0;
		padding: 0;
		transition: all 0.4s ease-in-out;
	}
	/*.search-icon:hover ~ #search{
		width: 100px;
		padding: 5px 10px;
	}
	.search-icon:hover{
		right: 10%;
	}*/
	.search-bar:hover > #search{
		width: 80px;
		padding: 5px 10px;
	}
	.search-bar:hover > .search-icon{
		left: 88%;
	}
	/*nav-bottom*/
	.song-playing{
		justify-content: flex-start;
		margin-top: 10px;
	}
	.song-playing > .song-options{
		display: none;
	}
	.song-about{
		padding: 0 0;
		width: 30%;
		overflow: visible;
		margin: 0 8px;
  	}
	.song-shuffle{
		font-size: 0.6rem;
	}
	.song-shuffle a:not(.play),.song-len-track{
		display: none;
	}
	.sound-bar ul li:not(.volume-button){
		opacity: 0;
	}
	.play{
		position: absolute;
		right: 10%;
		top: 10%;
	}
	.play i{
		font-size: 2rem;
		color: #5fa878;
	}
	.volume-button{
		position: absolute;
		right: 3%;
		top: 20%;
	}
	.volume-button i{
		font-size: 1.4rem;
	}
	.volume-bar{
		transform: rotate(-90deg);
		position: absolute;
		bottom: 100%;
		right: 1%;
	}
	.volume-button:hover ~ .volume-bar{
		opacity: 0.8;
	}
	/*menu-icon*/
	.menu-icon{
		opacity: 1;
		top: 15px;
		left: 35%;
	}
	.menu-list{
		transition: all 0.4s ease-in-out;
		opacity: 0;
		z-index: 999;
	}
	.menu-icon-img:hover ~ .menu-list{
		opacity: 0.8;
	}
	/*content*/
	.content{
		margin: 0 10%;
		grid-template-columns: 1fr;
	}
	/*artist-section*/
	.artist-5{
		display: none;
	}
	.pop-artist-heading{
		margin: 5px 0;
		margin-left: -10px;
	}
	.pop-artist-container{
		justify-content: space-between;
	}
	.Artists{
		width: 22%;
	}
	/*stations*/
	.station-6{
		display: none;
	}
	/*latest-english,hindi*/
	.song-5{
		display: none;
	}
	.songs{
		width: 23%;
	}
	.songs .color-white{
		font-size: 0.6rem;
	}
	.songs .color-grey{
		font-size: 0.5rem;
	}

	/*aside-section*/
	.aside-section{
		/*border: 2px solid goldenrod;*/
		width: 90%;
		margin: 0 auto;
		margin-bottom: 5%;
	}
	.q-items{
		/*border: 2px solid mistyrose;*/
		grid-template-columns: 1fr 6fr;
		grid-gap: 20px;
	}
	.q-song-img{
		/*border:1px solid goldenrod;*/
		grid-template-columns: 1fr 3fr;
	}
	.q-song-img img{
		height: 50px;
		width: 50px;
	}
	.q-song-img i{
		top: 12%;
		right: 15%;
	}
	.add-fav{
		top: 2px;
	}
	.q-1{
		padding: 0 10px;
	}
}


